include requirements.txt
include version.py
include README.md
recursive-include dialog *
recursive-include vocab *
recursive-include locale *
recursive-include res *
recursive-include ui *
recursive-include skill *